/*Sector de CSS Home*/
.entrada{
    display: flex;
    justify-content: space-between;
    margin: auto;
    .Symbol{
        height: 6vh;
        width: 20vh;
        border-radius: 0.3cm;
        padding: 0vh;
    }
}

