@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

$my-tipography: 'Cinzel', serif;
$main-text-color: rgb(15, 12, 68);
$main-bg-color: linear-gradient(to top,#69497a,#C1CEFE);
$main-text-font: 'Cinzel', serif;
