@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


*{
    margin: 0;
    padding: 0;
}
/*Creando Variable*/
:root{
    --main-text-color: rgb(15, 12, 68);
    --main-bg-color: linear-gradient(to top,#69497a,#C1CEFE);
    --main-text-font: 'Cinzel', serif;
     
}

/*Sector de CSS Home*/
#entrada{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#cuerpo{
    background-image: var(--main-bg-color)
}
.Symbol{
    height: 6vh;
    width: 20vh;
    /* margin-right: 20px; */
    border-radius: 0.3cm;
    padding: 0vh;
}
.bar{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: 50px;
    margin: auto;
}
.link-item{
    margin-left: 50px;
}
.slide{
    margin-top: 5px;

}
.slide img{
    height: 75vh;

}
.testimonios0{
    font-family: var(--main-text-font);
    color: var(--main-text-color);
    font-weight: 700;
    text-align: center;
    
}
.testimonios{
    text-align: center;
}
.testi{
    margin-bottom: 2vh;
}
.row{
    padding: 5vh;
}
.texto_testimonios{
    color: black;
}
.card-body{
    text-align: center;
}
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}


/*Sector de CSS Productos*/

main{
    background-image: var(--main-bg-color)
 }
h2{
    font-family:var(--main-text-font);
    font-weight: 700;
}
.micolor{
    color: var(--main-text-color);
}
.imagen_productos{
    width: 40vh;
    height: 40vh;
    margin-bottom: 55px;
    border-radius: 0.2cm;
}
/*Sector de CSS Contacto*/
.contenedor_contacto{
    background-image: var(--main-bg-color);
    padding-bottom: 5vh;
}
.micontacto{
    font-family:var(--main-text-font);
    font-weight: 700;
    color: var(--main-text-color);
    text-align: center;
}
.contactanos{
    color: white;
    border: #e9efef2b solid 3px;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to bottom, #1f0180,#adadd0);
    margin: auto;
    width: 50%;
    margin-bottom: 0px;   
}
.botones{
    border-radius: 8px;
    margin: 5px;
    padding: 2px;
}
.boletin{
    margin-top: 5vh;
}
.margin{
    margin: 10px 0px;
    border-radius: 8px;
}
.agradecimiento{
    margin-top: 15px;
}

/*Sector de CSS Sobrenosotros*/

.contenedor_principal{
    background-image: var(--main-bg-color);
}
h2, 
h5{
    font-family: var(--main-text-font);
    font-weight: 700;
}

/*Sector de CSS FAQ´s*/

.preguntas{
    padding: 30px;
}
.intro_preguntas{
    font-size: 2rem;
    color: var(--main-text-color);
    font-family: var(--main-text-font);
    font-weight: 700;
    text-align: center;
    margin: 10px;
}
.intro_parrafo{
    color: white;
    text-align: center;
}
h3{
    font-family: var(--main-text-font);
    font-weight: 700;   
}
h3, 
p{
    color: white;
    margin: 0px;
    padding: 10px;
}



footer{
    border-top: white solid 0.05cm ;
    display: flex;
    justify-content: space-between;
    background-color: #A6A9B4;
}
.iconos_redes{
    margin-right: 100px;
    color: white;
    display: flex;
    flex-direction: column;
}
.iconos_redes a{
    margin: 5px;
}
.direccion .super_de_seguros{
    height: 20vh;
    width: 30vh;
}


.location{
    margin-top: 5px;
    margin-left: 15%;
    height: 120px;
    width: 200px;
    border-radius: 2cm;
}
a:link {
    color: black;
  }
  
  a:visited {
    color: purple;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: white;
  }
  
  a:hover {
    border-bottom: 1px solid;
    /* background: #CDFEAA; */
  }
  
  a:active {
    background: white;
    /* color: #CDFEAA; */
  }

/* Comenzando con Mediaquery para Home*/

@media screen and (max-width: 500px){
    
    .Symbol{
        width: 35%;
        height: 5vh;
        border-radius: 0.3cm; 
    }
    .slide img{
        height: 35vh;
    }
    .w-100{
        width:50vh;
    }
    .carousel-item{
        height: 30vh;
    }
    #cuerpo{
        padding: 2.5vh;
    }
    .testimonios{
        text-align: center;
    }
    .testi{
        padding: 0%;           
    }
    .valentina{
        margin-top: 5vh;
    }
    .location{
        margin-top: 3.2vh;
        transform: translateX(-30%);
        width: 8vh;
        height: 4vh;
        
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;  
    } 
    .iconos_redes{
        margin-right: 0%;
    }
   
      
}

/*Mediaquery para Prodcutos*/
@media screen and (max-width: 500px){
.imagen_productos{
    width: 20vh;
    height: 20vh;
    margin-bottom: 55px;
    border-radius: 0.2cm;}
}

/*Mediaquery para Contacto*/

@media screen and (max-width: 500px){
    
    .contactanos{
        width: 80%;
    }
    textarea{
        width: 20vh;
        height: 10vh;
    } 
}

/*Mediaquery para Sobrenosotros*/

@media screen and (max-width: 500px){
    
    #carros{
        
        display: flex;
        flex-direction: column;
    }
    .productores{
        margin: auto;
        width: auto; 
    }   
    .vendedores{
        margin-top: 4vh;
    }
}
/*Mediaquery para FAQ´s*/

@media screen and (max-width: 500px){

    .contactanos{
        width: 80%;
    }
    textarea{
        width: 20vh;
        height: 10vh;
    }
}
      